* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainssign {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignUP {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 4px solid red; */
    align-items: center;
    row-gap: 20px;
    background-color: rgb(235, 235, 228);
    justify-content: center;
}
.divs1{
    display: flex;
    flex-direction: column;
    /* border: 4px solid red; */
    align-items: center;
    row-gap: 20px;
}
#name,#email,#password,#password1{
    width: 300px;
    border-radius: 5px;
    border: none;
    padding: 8px;
}
#SignUpbutton{
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(28, 28, 28);
    color: white;
    
}